*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    
    background-color: rgb(29, 233, 189);
    height: 100%;
    
    
}

img{
    width: 120px;
    height: 45px;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}



.menu-button {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 36px;
    padding: 8px;
    border-radius: 5px;
    background: darkcyan;
    cursor: pointer;

    
}

.menu-button span{
    width: 25px;
    height: 2px;
    background: white;
    border-radius: 5px;
    
}



.menu-toggle {
    display: none;
}

.toggle {
    display: none;
    text-align: center;
    background: black;
    border-radius: 8px;
    padding: 15px;
    width: 230px;
    margin: 0 10px;
    
    
}

 .toggle li {
     list-style: none;
     display: block;
     padding: 10px 0;
     color: white;
     
          
}




.nav-menu:hover{
    background-color: #3b7562;
    transition: 0.5s;
}

.Titulo{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}



h2{
    color: darkcyan;
    flex-direction: column;
    margin: 5px;
    font-size: 40px;
    padding: 10px;
    font-family: sans-serif;
}

.Subtitulo{
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
    color: darkgrey;
    flex-direction: column;
}

.Seccion-Servicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

p{
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    color: darkcyan;
    margin-top: 10px;
    justify-content: center;
    align-items:center;
    
        
}


.Tecnologia-uno{
    margin: 5px 5px;
    width: 470px;
    height: 250PX;
    display: flex;
    
}

.nav-contacto{
    display: flex;
    justify-content: center;
}

.nav-contacto-link{
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:darkcyan;
    display: flex;
    padding: 10px;
    width: 150px;
    margin: 5px;
    border-radius: 15px;
    text-decoration: none;
    
}

.nav-contacto-link:hover{
    background-image: linear-gradient(to left, aqua, rgb(47, 128, 128));
    color: black;
}

.Suscripcion{
    
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
}

.Forms{
    width: 300px;

    padding: 10px;
    margin: 10px;
    flex-direction: column;
    display: flex;
    border-color: darkcyan;
    border-radius: 10px;
}

.martech{
    font-size: 15px;
    color: grey;
    font-family: sans-serif;
    flex-direction: column;
}

.pie-de-pagina{
    background-color:aqua;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.Lugar{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    height: 100px;
    
}

.telefono{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 10px;
}

.info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
}















  